.container {
  width: 100%;
  padding: 3.5rem;
  min-height: 100vh;
}

.titleContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  position: sticky;
  top: 3.5rem;
  margin-top: 1.5rem;
  z-index: 10;
}

.groupArtistTitle,
.soloArtistTitle {
  font-size: 1.75rem;
  line-height: 3.5rem;
  text-transform: uppercase;
  background: #fff;
}

.soloArtistTitle {
  grid-column: 1 / 5;
}

.groupArtistTitle {
  grid-column: 1 / 13;
}

.groupArtistSectionContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

@media (max-width: 1025px) {
  .container {
    padding: var(--padding-medium);
  }
  .soloArtistTitle {
    grid-column: 1 / 13;
    text-align: center;
  }
  .groupArtistTitle {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .container {
    padding: var(--padding-small);
  }
}
