.container {
  width: 100%;
  padding: 3.5rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  min-height: 100vh;
}

.exhibitions {
  grid-column: 1 / 10;
  margin-top: 3.5rem;
}

.exhibitionsHeader {
  grid-column: 10 / 13;
  display: flex;
  justify-content: end;
  align-items: center;
  text-transform: uppercase;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 4.5rem;
  margin-top: 3.5rem;
  align-self: start;
  background: #fff;
}

.activeNavLink {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 1);
}

.exhibitionsHeader a {
  display: flex;
  align-items: center;
  transition: color 0.2s ease-in-out;
}

.exhibitionsHeader a:hover {
  color: rgba(0, 0, 0, 1);
}

.exhibitionsHeader span {
  display: inline-block;
  background: #fff;
  height: 2px;
  width: 8px;
  margin-right: 3px;
  margin-left: 12px;
}

@media (max-width: 1025px) {
  .container {
    padding: var(--padding-medium);
  }

  .exhibitionsHeader {
    grid-column: 1 / 13;
    order: 1;
    justify-content: center;
    top: 3.5rem;
    margin-top: 0;
    padding: 0.5rem 0;
  }

  .exhibitions {
    grid-column: 2 / 12;
    order: 2;
  }
}

@media (max-width: 768px) {
  .container {
    padding: var(--padding-small);
  }
  .exhibitions {
    grid-column: 1 / 13;
  }
}
