/* ENQUIRE MODAL */

.enquireFormGroup {
  margin-bottom: 2.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.enquireFormGroup label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
  font-family: var(--font-display);
}

.enquireFormGroup input,
.enquireFormGroup textarea {
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.75;
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  outline: none;
}

.enquireFormGroup textarea {
  min-height: 10rem;
  max-height: 20rem;
  resize: vertical;
}

.privacyPolicyContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.privacyPolicyContainer input {
  width: 1rem;
  height: 1rem;
  accent-color: #fff;
}

.privacyPolicyContainer a {
  color: #fff;
  text-decoration: underline;
}

.enquireFormGroupButton {
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
  color: #fff;
  margin: 0;
  margin-top: 0.5rem;
  font-family: var(--font-body);
  cursor: pointer;
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
}
.enquireFormGroupButton:hover {
  background-color: #fff;
  color: #000;
}
