:root {
  --font-display: "Test American Grotesk", Arial, Helvetica, sans-serif;
  --font-body: "Haas Grot Disp R Trial", Arial, Helvetica, sans-serif;

  --padding-small: 1.5rem;
  --padding-medium: 2rem;
  --padding-large: 3.5rem;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body {
  color: #000;
  background: #fff;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
