.container {
  background: #fff;
  color: #000;
  width: 100%;
  height: 3.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.container nav {
  display: flex;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.activeNavLink {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 1);
}

.container nav a {
  display: flex;
  align-items: center;
  transition: color 0.2s ease-in-out;
}

.container nav a:hover {
  color: rgba(0, 0, 0, 1);
}

.container nav span {
  display: inline-block;
  background: #fff;
  height: 2px;
  width: 8px;
  margin-right: 3px;
  margin-left: 12px;
}

.container nav a span.activeDash {
  background: #000;
}

.container .logo {
  height: 14px;
  width: auto;
}
