.additionalImagesContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, auto);
  gap: 1rem;
}

.slideshowWrapper {
  grid-column: 2 / 12;
  grid-row: 1 / 12;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100%;
  gap: 1rem;
  margin-bottom: 1rem;
}

.slideshowDisplayContainer {
  grid-column: 1 / 13;
  grid-row: 1 / 12;
  position: relative;
  left: -0.5rem;
  width: calc(100% + 1rem);
  height: auto;
  opacity: 0;
  padding: 0 0.5rem;
  box-sizing: border-box;
}

.additionalImage {
  width: 100%;
  height: 100%;
  aspect-ratio: 1148 / 640;
  object-fit: cover;
}

.indicator {
  grid-column: 2 / 11;
  grid-row: 12 / 13;
  align-self: center;
}

.arrows {
  grid-column: 11 / 12;
  grid-row: 12 / 13;
  align-self: center;
}

@media (max-width: 1280px) {
  .slideshowWrapper {
    /* --img-height: 35rem; */
    grid-column: 1 / 13;
  }
  .indicator {
    grid-column: 1 / 12;
    align-self: center;
  }

  .arrows {
    grid-column: 12 / 13;
    align-self: center;
  }
}
