.container {
  margin: 7rem 0;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.slideTitle {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.readMoreBtnContainer {
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
}

.fairsSlideshowContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 1rem;
}

.fairsSlideshowContentContainer {
  grid-column: 1 / 13;
  grid-row: 1 / 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  overflow-x: hidden;
}

.fairsSlideshowDisplayContainer {
  grid-column: 1 / 13;
  grid-row: 1 / 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  position: relative;
  top: 0;
  left: -0.5rem;
  width: calc(100% + 1rem);
  height: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-sizing: border-box;
  opacity: 0;
}

.fairsSlideshowDisplayContainer > div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.fair_left {
  grid-column: 1 / 5;
}

.fair_center {
  grid-column: 5 / 9;
}

.fair_right {
  grid-column: 9 / 13;
}

.fairImage {
  width: 100%;
  /* height: 20rem; */
  aspect-ratio: 450 / 320;
  height: auto;
  object-fit: cover;
}

.indicatorContainer {
  grid-column: 1 / 12;
  align-self: center;
  width: 100%;
}

.arrowsContainer {
  grid-column: 12 / 13;
  width: 100%;
}

.threeColumnSlideshow {
  display: block;
}

.twoColumnSlideshow {
  display: none;
}

.oneColumnSlideshow {
  display: none;
}

@media (max-width: 1025px) {
  .threeColumnSlideshow {
    display: none;
  }

  .twoColumnSlideshow {
    display: block;
  }

  .fair_left {
    grid-column: 1 / 7;
  }

  .fair_right {
    grid-column: 7 / 13;
  }
}

@media (max-width: 768px) {
  .twoColumnSlideshow {
    display: none;
  }

  .oneColumnSlideshow {
    display: block;
  }

  .fair_full {
    grid-column: 1 / 13;
  }
}
