.container {
  margin: 7rem 0;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.exhibitions {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.exhibition_left {
  grid-column: 1 / 7;
}

.exhibition_right {
  grid-column: 7 / 13;
}

.exhibitionImage {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.indicatorContainer {
  grid-column: 1 / 12;
  align-self: center;
  width: 100%;
}

.arrowsContainer {
  grid-column: 12 / 13;
  width: 100%;
}
