.container {
  width: 100%;
  height: 100vh;
  padding: 3.5rem;
}
.imageContainer {
  width: 100%;
  height: 100%;
  background-image: url("/gallery.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
