.newsContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 1rem;
}

.newsContentContainer {
  grid-column: 1 / 13;
  grid-row: 1 / 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  overflow-x: hidden;
}

.newsSlideshowLeftContainer {
  grid-column: 1 / 5;
}

.newsSlideshowCenterContainer {
  grid-column: 5 / 9;
}

.newsSlideshowRightContainer {
  grid-column: 9 / 13;
}

.vimeoContainer {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border: none;
}

@media (max-width: 1025px) {
  .newsSlideshowLeftContainer {
    grid-column: 1 / 7;
  }

  .newsSlideshowCenterContainer {
    grid-column: 7 / 13;
  }

  .newsSlideshowRightContainer {
    display: none;
  }
}

@media (max-width: 768px) {
  .newsSlideshowLeftContainer {
    grid-column: 1 / 13;
  }

  .newsSlideshowCenterContainer {
    display: none;
  }
}
