.exhibitionsSlideshowContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 1rem;
}

.exhibitionsSlideshowContentContainer {
  grid-column: 1 / 13;
  grid-row: 1 / 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  overflow-x: hidden;
}

.exhibitionsSlideshowDisplayContainer {
  grid-column: 1 / 13;
  grid-row: 1 / 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  position: relative;
  top: 0;
  left: -0.5rem;
  width: calc(100% + 1rem);
  height: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-sizing: border-box;
  opacity: 0;
}

.exhibitionsSlideshowDisplayContainer > div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.exhibitionsSlideshowLeftContainer {
  grid-column: 1 / 7;
}

.exhibitionsSlideshowRightContainer {
  grid-column: 7 / 13;
}

.slideshowImage {
  object-fit: cover;
  width: 100%;
  height: 25rem;
}

.slideshowStatus {
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.slideshowTitleContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
}

.slideshowTitle {
  font-style: italic;
}

.slideshowTitleDash {
  width: 1.25rem;
  height: 3px;
  background: #000;
}

.indicatorContainer {
  grid-column: 2 / 11;
  grid-row: 12 / 13;
  align-self: center;
  width: calc(100% + 1rem);
  margin-left: -1rem;
}

.arrowsContainer {
  grid-column: 11 / 12;
  grid-row: 12 / 13;
  width: calc(100% + 1rem);
}
