.newsSlideshowLeftContainer {
  grid-column: 1 / 5;
}

.newsSlideshowCenterContainer {
  grid-column: 5 / 9;
}

.newsSlideshowRightContainer {
  grid-column: 9 / 13;
}

.slideshowImage {
  object-fit: cover;
  width: 100%;
  height: 20rem;
}
