.contentContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  margin-top: 3.5rem;
}

.infoContainer {
  grid-column: 1 / 5;
}

.imageContainer {
  grid-column: 6 / 12;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
  font-family: var(--font-display);
}

.titleContainer h1 {
  font-style: italic;
}

.titleContainer h1,
.titleContainer h2 {
  font-size: 2.25rem;
  line-height: 1.1;
  font-family: var(--font-display);
  text-transform: uppercase;
}

.titleDash {
  width: 1.25rem;
  height: 3px;
  background: #000;
}

.image {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  position: sticky;
  top: 7rem;
}

.groupShowText {
  margin-bottom: 1rem;
}

.groupShowText a:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.readMoreBtn {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  margin-top: 0.75rem;
}

.readMoreBtn:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}
